<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>

    <base href="//webapi.amap.com/ui/1.0/ui/misc/MarkerList/examples/" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>WeMap</title>
    <link rel="stylesheet" type="text/css" href="./common.css">
    <style>
        #my-list li {
            cursor: default;
        }
    </style>
</head>

<body>
<div id="outer-box">
    <div id="container">
    </div>
    <div id="panel">
        <div id="intro">
            <h3>List Place</h3>
        </div>
        <ul id="my-list"></ul>
    </div>
</div>
<script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.11&key=f393f3131f6d9ca2c4788ef479d54149'></script>

<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript">

    var map = new AMap.Map('container', {
        center: [103.724386, 36.107072],
        zooms: [4,18],
        zoom: 17,
        pitch:75,
        viewMode:'3D'
    });

    var markers = [];
    var positions = [[103.724386, 36.107072], [103.724386, 36.106075],[103.724386, 36.106069],[103.724386, 36.106045]];


    for (var i = 0, marker; i < positions.length; i++) {
        marker = new AMap.Marker({
            map: map,
            position: positions[i],
            icon: 'img/d.png',
            offset: new AMap.Pixel(-13, -30)
        });
        markers.push(marker);
    }
    map.plugin(["AMap.ToolBar"], function() {
        map.addControl(new AMap.ToolBar());
    });


    AMapUI.loadUI(['misc/MarkerList'], function(MarkerList) {

        var markerList = new MarkerList({

            map: map,

            listContainer: 'my-list',

            selectedClassNames: 'selected',

            makeSelectedEvents: null,

            listElementEvents: ['click'],

            getDataId: function(dataItem, index) {

                return dataItem.id;
            },

            getPosition: function(dataItem) {
                return dataItem.position;
            },

            getMarker: function(dataItem, context, recycledMarker) {


                var content = 'Build: ' + (context.index + 1) + '';

                var label = {
                    offset: new AMap.Pixel(16, 18),
                    content: content
                };


                if (recycledMarker) {

                    recycledMarker.setLabel(label);
                    return recycledMarker;
                }


                return new AMap.Marker({
                    label: label
                });
            },

            getListElement: function(dataItem, context, recycledListElement) {

                var tpl = '<img src="http://qrcoder.ru/code/?19%2C+88+West+Anning+Road%2C+Lanzhou%2C+Gansu%2C+post+code+730070%26%2365306%3BSchool+of+International+Education+and+Dormitory+for+International+Students&2&0"><p><%- dataItem.id %>：<%- dataItem.desc %><br/>' +
                    '<p><button class="my-btn">Push</button>';

                var content = MarkerList.utils.template(tpl, {
                    dataItem: dataItem,
                    dataIndex: context.index
                });

                if (recycledListElement) {

                    recycledListElement.innerHTML = content;
                    return recycledListElement;
                }

                return '<li>' + content + '</li>';
            }

        });

        markerList.on('listElementClick', function(event, record) {

            var $ = markerList.utils.$;


            if ($(event.target).hasClass('my-btn')) {

                this.selectByDataId(record.id);

            } else {

                this.openInfoWindowOnRecord(record);
            }
        });

        markerList.on('selectedChanged', function(event, info) {

        });

        var data = [{
            id: 'School of International Education and Dormitory for International Students',
            position: [103.728992, 36.109406],
            icon: 'img/icon.jpg'
        }, {
            id: 'B',
            position: [103.724524, 36.109780],
            desc: 'Construction Bank',
            icon: 'img/qr-code.png'
        }, {
            id: 'C',
            position: [103.723580, 36.110102],
            desc: 'Students Cafeteria',
            icon: 'img/qr-code.png'
        }];

        markerList.render(data);
    });

    AMap.plugin('AMap.Geolocation', function() {
        var geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,
            timeout: 10000,
            buttonPosition:'RB',
            buttonOffset: new AMap.Pixel(10, 20),
            zoomToAccuracy: true,

        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition(function(status,result){
            if(status=='complete'){
                onComplete(result)
            }else{
                onError(result)
            }
        });
    });

    function onComplete(data) {
        document.getElementById('status').innerHTML='定位成功'
        var str = [];
        str.push('定位结果：' + data.position);
        str.push('定位类别：' + data.location_type);
        if(data.accuracy){
            str.push('精度：' + data.accuracy + ' 米');
        }
        str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
        document.getElementById('result').innerHTML = str.join('<br>');
    }

    function onError(data) {
        document.getElementById('status').innerHTML='定位失败'
        document.getElementById('result').innerHTML = '失败原因排查信息:'+data.message;
    }


</script>
</body>

</html>