<!doctype html>
<html lang="zh-CN">

<head>

    <base href="//webapi.amap.com/ui/1.0/ui/misc/MarkerList/examples/" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-widjquery-3.0.0.min.jsth">
    <title>孟君善</title>
    <link rel="stylesheet" type="text/css" href="./common.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>
        .my-marker .amap-simple-marker-label {
            color: #fff;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>

<body>
<div id="container">
</div>
<div id="outer-box">

    <div id="panel">
        <div id="intro" >
            <h3><button class="button">建筑清单</button></h3>
        </div>
        <ul id="my-list"></ul>
    </div>
</div>
<script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.11&key=f393f3131f6d9ca2c4788ef479d54149'></script>

<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript">
    $( "button" ).click(function() {
        $( "ul" ).toggle();
    });
</script>
<script type="text/javascript">

    var map = new AMap.Map('container', {
        center: [103.724386, 36.107072],
        zooms: [4,18],
        zoom: 17,
        pitch:75,
        viewMode:'3D'
    });

    AMap.plugin('AMap.ToolBar',function(){//异步加载插件
        var toolbar = new AMap.ToolBar();
        map.addControl(toolbar);
    });

    AMapUI.loadUI(['misc/MarkerList', 'overlay/SimpleMarker', 'overlay/SimpleInfoWindow'],
        function(MarkerList, SimpleMarker, SimpleInfoWindow) {

            var markerList = new MarkerList({

                map: map,

                listContainer: 'my-list',


                getDataId: function(dataItem, index) {

                    return dataItem.id;
                },

                getPosition: function(dataItem) {
                    return dataItem.position;
                },

                getMarker: function(dataItem, context, recycledMarker) {


                    if (recycledMarker) {

                        recycledMarker.setIconLabel(context.id);
                        recycledMarker.setIconStyle(dataItem.iconStyle);
                        return recycledMarker;
                    }


                    return new SimpleMarker({
                        containerClassNames: 'my-marker',
                        iconStyle: dataItem.iconStyle,
                        iconLabel: context.id
                    });
                },

                getInfoWindow: function(dataItem, context, recycledInfoWindow) {

                    if (recycledInfoWindow) {

                        recycledInfoWindow.setInfoTitle(dataItem.title);
                        recycledInfoWindow.setInfoBody(dataItem.desc);
                        return recycledInfoWindow;
                    }


                    return new SimpleInfoWindow({
                        offset: new AMap.Pixel(0, -37),
                        infoTitle: dataItem.title,
                        infoBody: dataItem.desc
                    });
                },
                getListElement: function(dataItem, context, recycledListElement) {

                    var tpl = '<button style="background-color:<%= dataItem.iconStyle %>">' +
                        '<%- dataId %></button> <%- dataItem.title %>';

                    var content = MarkerList.utils.template(tpl, {
                        dataItem: dataItem,
                        dataId: context.id
                    });

                    if (recycledListElement) {

                        recycledListElement.innerHTML = content;
                        return recycledListElement;
                    }


                    return '<li>' + content + '</li>';
                }

            });


            var data = [{
                id: 'A',
                position: [103.724373, 36.110007],
                iconStyle: 'red',
                title: '超市',
                desc: '超市离旅馆不远。超市在旅馆西边。'
            }, {
                id: 'B',
                position: [103.722909, 36.110733],
                iconStyle: 'green',
                title: '油爆',
                desc: '离油爆不远有超市二百米。'
            }, {
                id: 'C',
                position: [103.724524, 36.109780],
                iconStyle: 'purple',
                title: '银行',
                desc: '银行离旅馆不远。'
            },
            {
                id: 'D',
                position: [103.721587,36.102243],
                iconStyle: 'blue',
                title: '酒吧',
                desc: '酒吧在南边。离酒吧不远有大门二十米'
            },
            {
                id: 'E',
                position: [103.721469,36.103031],
                iconStyle: 'orange',
                title: '公车站',
                desc: '公车站在南边。公车站不远有大门十米'
            },
            {
                id: 'F',
                position: [103.732582, 36.101893],
                iconStyle: 'pink',
                title: '医院',
                desc: '医院离大门不远。 医院在东边。'
            },
            {
                 id: 'G',
                 position: [103.72700,36.1094062],
                 iconStyle: 'black',
                 title: '旅馆',
                 desc: '旅馆在大门北东边。'
            }];

            markerList.render(data);
        });
    AMap.plugin('AMap.Geolocation', function() {
        var geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,
            timeout: 10000,
            buttonPosition:'RB',
            buttonOffset: new AMap.Pixel(10, 20),
            zoomToAccuracy: true,

        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition(function(status,result){
            if(status=='complete'){
                onComplete(result)
            }else{
                onError(result)
            }
        });
    });

    function onComplete(data) {
        document.getElementById('status').innerHTML='定位成功'
        var str = [];
        str.push('定位结果：' + data.position);
        str.push('定位类别：' + data.location_type);
        if(data.accuracy){
            str.push('精度：' + data.accuracy + ' 米');
        }//如为IP精确定位结果则没有精度信息
        str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
        document.getElementById('result').innerHTML = str.join('<br>');
    }

    function onError(data) {
        document.getElementById('status').innerHTML='定位失败'
        document.getElementById('result').innerHTML = '失败原因排查信息:'+data.message;
    }
</script>
</body>

</html>